/*----------------------------------------------------------------------------
// File: view.css
//
// This file contains project-specific styling for the view.
//----------------------------------------------------------------------------
*/

body {
	font-family: 'Lato', sans-serif;
}

 .map {
   height: 480px;
   width: 640px
 }
